.typeahead__container {
    position: absolute !important;
    top: -1000px;
}

.typeahead__container .typeahead__result-count,
.typeahead__container .typeahead__close,
.typeahead__container .typeahead__result-count,
.typeahead__container .typeahead__backdrop-search-icon {
    display: none;
}

.typeahead__container.backdrop {
    width: 100%;
    max-width: none;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.typeahead__container.backdrop input {
    color: #2a9dcc;
    /*background: transparent !important;*/
    border: 0;
    outline: none;
    font-size: 2rem;
    height: auto;
    /*border-bottom: 1px solid #777;*/
}

.typeahead__container.backdrop .typeahead__header {
    background-color: #f8f8f8;
    border-bottom: solid 1px #e7e7e7;
    height: 51px;
}

.typeahead__container.backdrop .typeahead__button {
    display: none;
}

.typeahead__container.backdrop .typeahead__field {
    display: flex;
    height: 100%;
    align-items: center;
}

.typeahead__container.backdrop .typeahead__field {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.typeahead__container.backdrop .typeahead__field > * {
    display: inline-block;
}

@media (min-width: 768px) {
    .typeahead__container.backdrop .typeahead__fieldntainer {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .typeahead__container.backdrop .typeahead__field {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .typeahead__container.backdrop .typeahead__field {
        width: 1170px;
    }
}

.typeahead__container.backdrop .typeahead__result {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 100% !important;
    background-color: #fff;
    top: 81px;
    height: calc(100% - 81px);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.typeahead__container.backdrop .typeahead__result::-webkit-scrollbar {
    width: 0 !important;
}

.typeahead__container.backdrop .typeahead__result-count {
    display: block;
    color: #999;
    font-size: 1.15rem;
    text-align: center;
    text-transform: capitalize;
    padding-top: 0.5rem;
    position: relative;
    z-index: 1;
}

.typeahead__container.backdrop .typeahead__close {
    display: block;
    cursor: pointer;
    font-weight: normal;
    padding-left: 1rem;
    font-size: 2rem;
    text-align: center;
}

.typeahead__container.backdrop .typeahead__esc {
    font-size: 1rem;
}

.typeahead__container.backdrop .typeahead__backdrop-search-icon {
    padding-right: 1rem;
    font-size: 2rem;
    display: table-cell;
    vertical-align: middle;
    color: #777;
}

.typeahead__container.backdrop .typeahead__backdrop-search-icon.active {
    cursor: pointer;
}

.typeahead__container.backdrop .typeahead__backdrop-search-icon.active:hover {
    color: #cccccc;
}

.typeahead__list {
    position: relative;
    top: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    text-align: center;
}

.typeahead__list li {
    display: inline-block;
}

.typeahead__list li a {
    padding: .55rem;
    text-transform: capitalize;
    font-size: 1.25rem;
    color: #2a9dcc !important;
    display: inline-block;
}

.typeahead__list li a:hover {
    color: #217ca2;
    background: rgba(0, 0, 0, 0.25);
}

.typeahead__list li.typeahead__group {
    display: block;
}

.typeahead__list li.typeahead__group a {
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #CE2028 !important;
    background: transparent;
}

.typeahead__list li.typeahead__group a:hover {
    background: transparent;
    text-decoration: none;
}

.typeahead__list li.typeahead__item a:hover {
    text-decoration: underline;
}

.typeahead__list.empty {
    text-align: center;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.typeahead__field input[type="search"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.typeahead__field input[type="search"]::-webkit-search-cancel-button {
    /*Bootstrap 3 override*/
    -webkit-appearance: textfield;
}