#form-game_v3 {
    width: 50%;
    margin: 0 auto 20px;
}

.tab-content.champion {
    overflow: inherit;
}

.champion-form-container {
    position: relative;
}

#champion-list {
    position: relative;
    z-index: 1;
}

#champion-list .typeahead__list {
    padding: 0;
}

#champion-list .typeahead__list:not(.empty) > li {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    background-color: #efefef;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

#champion-list .typeahead__list > li > a {
    padding: 6px 10px;
}

#champion-list .champion-image {
    display: block;
}

#champion-list .champion-image img {
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
}

#champion-list .champion-name {
    font-size: 13px;
}

#champion-modal em {
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

.champion-counter {
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

.champion-filters .checkbox input[type=radio]:checked+label::after,
.champion-filters .checkbox input[type=checkbox]:checked+label::after {
    font-family: Icons;
    content: "\f00c";
}

.champion-filters {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background-clip: padding-box;
}

.champion-filters > ul {
    padding: 10px;
    display: inline-block;
}

.champion-filters > ul > li {
    display: inline-block;
    padding-right: 30px;
}

.champion-filters label {
    cursor: pointer;
}

.popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}